/* * {
  border: 1px solid red;
} */

body {
  padding: 5% 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-input {
  width: 70%;
}

#meme-image-container {
  margin-top: 30px;
  width: 70%;
  min-height: 500px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  background-color: white;
}

#meme-text {
  text-align: justify;
  width: 90%;
  word-wrap: break-word;
  font-size: 30px;
  margin-left: 2%;
  text-shadow: 5px 5px  5px black;
  color: white;
}

#meme-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
